nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: green ;
  color: black;
  font-weight: bold;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav > ul {
  list-style: none;
}

nav > ul > li {
  float: left;
  padding: 20px;
}

#Home {
  background: url("/assets/img/IMG_0342.jpg") center center no-repeat; background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#headtwocont {
  text-align: center;
  font-weight: bold;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#headonereport {
  text-align: center;
  background-color: burlywood;
  font-weight: bold;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#headtworeport {
  text-align: center;
  background-color: ;
  font-weight: bold;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#reports {
  display: grid;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  background: url("/assets/img/IMG_0063.jpg") center center no-repeat;

  background-size: cover;
  font-weight: bold;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(246, 250, 4);
}


div input {
  width: 200px;
}

#subform {
  display: inline-grid;
  grid-template-columns: 400px 400px 400px 400px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px ;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

  /* #subform tbody {
  width: 100%;
}

#subform th {
  text-align: center;
}

#subform td,th {
  width: 15%;
} */

#email{
  display: flex;
  justify-content: center;
  width: 100px 100px;
  height: 40px;

  padding:10px;
  box-sizing: border-box;
  background-color: burlywood;
}

#suggest{
  display: flex;
  justify-content: center;
  width: 200px 200px;
  height: 100px ;

  padding:10px;
  box-sizing: border-box;
  background-color: burlywood;
}

footer {
  display: flex;
align-items: center;
width: 100px 100px;
height: 50px;
flex-direction: column-reverse;
background-color:green
}

.embut {
  display: flex;
  justify-content: center;
  background-color: burlywood;

}

.subrep {
  display: flex;
  justify-content: center;
  background-color:green

}

.print {
  display: flex;
  justify-content: center;
  background-color: green;
}

